*{
	margin: 0;
	padding: 0;
}

#div1{
	height: 340px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	background-color: #E6F0FF;
	border: 1px solid black;
	border-radius: 8px;
}


.digit{
	width: 50px;
	height: 50px;
	color: red;
	background-color: #66FF66;
	border-radius: 5px;
	font-size: x-large;
	outline: none;
}

.digit:hover{
	background-color: #33CCFF;
}	

#InOut{
	width: 200px;
	height: 35px;
	margin-top: 10px;
	margin-left: 25px;
	text-align: right;
	font-size: x-large;
	
}

#border{
	margin: auto;
	margin-top: 10px;
}